.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Montserrat, sans-serif;
  color: #1a1b1f;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

h1 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 44px;
  line-height: 62px;
  font-weight: 400;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 46px;
  font-weight: 400;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 500;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}

p {
  margin-bottom: 10px;
}

a {
  display: block;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #1a1b1f;
  text-decoration: underline;
}

a:hover {
  color: #32343a;
}

a:active {
  color: #43464d;
}

ul {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 40px;
  list-style-type: disc;
}

li {
  margin-bottom: 10px;
}

img {
  display: block;
}

label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

blockquote {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px 30px;
  border-left: 5px solid #e2e2e2;
  font-size: 20px;
  line-height: 34px;
}

figure {
  margin-top: 25px;
  padding-bottom: 20px;
}

figcaption {
  margin-top: 5px;
  opacity: 0.6;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.heading-jumbo-small {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 300;
  text-transform: none;
}

.styleguide-block {
  display: block;
  margin-top: 80px;
  margin-bottom: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'IBM Plex Sans', sans-serif;
  text-align: left;
}

.heading-jumbo-tiny {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
}

.rich-text {
  width: 70%;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
}

.rich-text p {
  margin-top: 15px;
  margin-bottom: 25px;
  opacity: 0.6;
}

.container {
  position: static;
  width: 86%;
  max-width: 800px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.styleguide-content-wrap {
  text-align: center;
}

.paragraph-small {
  font-size: 14px;
  line-height: 26px;
}

.styleguide-header-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 460px;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1a1b1f;
  color: #fff;
  text-align: center;
}

.styleguide-button-wrap {
  margin-top: 10px;
  margin-bottom: 10px;
}

.heading-jumbo {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 76px;
  line-height: 78px;
  font-weight: 300;
  text-transform: none;
}

.paragraph-tiny {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
}

.paragraph-tiny.cc-paragraph-tiny-light {
  opacity: 0.7;
  font-family: 'IBM Plex Sans', sans-serif;
}

.label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.label.cc-styleguide-label {
  margin-bottom: 25px;
}

.label.cc-speaking-label {
  margin-top: 20px;
  margin-bottom: 10px;
}

.label.cc-about-light {
  margin-bottom: 0px;
  opacity: 1;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  text-transform: uppercase;
}

.paragraph-light {
  margin-top: 0px;
  margin-bottom: 26px;
  padding-right: 0%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  opacity: 0.6;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
}

.paragraph-light.cc-position-name {
  margin-bottom: 5px;
}

.paragraph-light.cc-position-name.about-sub {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
}

.paragraph-light.home-client-name {
  margin-top: 0px;
  padding-right: 0%;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  text-align: left;
}

.paragraph-light.homepage-subheader {
  margin-top: 0px;
  padding-right: 0px;
}

.paragraph-light.homepage-subheader.nav-sub {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-left: 20px;
  padding-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.section {
  position: static;
  margin: 52px 20px;
  padding-top: 0px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.section.cc-contact {
  padding-right: 80px;
  padding-left: 80px;
  background-color: #f4f4f4;
}

.button {
  padding: 12px 25px;
  border-radius: 0px;
  background-color: #1a1b1f;
  -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #32343a;
  color: #fff;
}

.button:active {
  background-color: #43464d;
}

.button.cc-jumbo-button {
  padding: 16px 35px;
  font-size: 14px;
  line-height: 26px;
}

.button.cc-white-button {
  padding: 16px 35px;
  border-style: solid;
  border-width: 1px;
  border-color: #1a1b1f;
  border-radius: 4px;
  background-color: #fff;
  color: #202020;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
}

.button.cc-white-button:hover {
  background-color: hsla(0, 0%, 100%, 0.8);
}

.button.cc-white-button:active {
  background-color: hsla(0, 0%, 100%, 0.9);
}

.paragraph-bigger {
  margin-bottom: 10px;
  opacity: 1;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

.paragraph-bigger.cc-bigger-light {
  opacity: 0.6;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
}

.divider {
  height: 1px;
  background-color: #eee;
}

.logo-link {
  z-index: 1;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.7;
}

.navigation-item {
  padding-top: 9px;
  padding-bottom: 9px;
  opacity: 0.6;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navigation-item:hover {
  opacity: 0.9;
}

.navigation-item:active {
  opacity: 0.8;
}

.navigation-item.w--current {
  opacity: 1;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #1a1b1f;
  font-size: 14px;
  font-weight: 500;
}

.navigation-item.w--current:hover {
  opacity: 0.8;
  color: #32343a;
}

.navigation-item.w--current:active {
  opacity: 0.7;
  color: #32343a;
}

.navigation-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: 'IBM Plex Sans', sans-serif;
}

.navigation {
  display: block;
  padding: 26px 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.logo-image {
  display: block;
}

.navigation-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.intro-wrap {
  margin-top: 100px;
  margin-bottom: 140px;
}

.position-name-text {
  margin-top: 0px;
  margin-bottom: 26px;
  padding-top: 26px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 47px;
  line-height: 52px;
  font-weight: 300;
  text-transform: none;
}

.position-name-text.first-title {
  font-weight: 300;
}

.work-description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.work-experience-grid {
  margin-bottom: 140px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-areas: ". . . .";
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.works-grid {
  display: -ms-grid;
  display: grid;
  margin-bottom: 80px;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  grid-template-areas: ".";
  -ms-grid-columns: 0.25fr 28px 1.25fr 28px 1.25fr 28px 0.25fr;
  grid-template-columns: 0.25fr 1.25fr 1.25fr 0.25fr;
  -ms-grid-rows: auto 28px auto;
  grid-template-rows: auto auto;
}

.carrer-headline-wrap {
  width: 70%;
  margin-bottom: 50px;
}

.work-image {
  display: block;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #f4f4f4;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
  text-decoration: none;
}

.work-image:hover {
  opacity: 1;
}

.work-image:active {
  opacity: 1;
}

.work-image.cc-work-1 {
  margin-bottom: 0px;
  border-style: none;
  border-width: 8px;
  border-color: #1a1b1f;
  border-radius: 4px;
  background-image: url('../images/PDP.jpg');
  background-position: 0px 0px;
  background-size: contain;
}

.work-image.cc-work-2 {
  margin-bottom: 0px;
  border-style: none;
  border-width: 8px;
  border-color: #1a1b1f;
  border-radius: 4px;
  background-image: url('../images/portfolio-2---wide.svg');
  background-size: cover;
}

.work-image.cc-work-4 {
  position: static;
  margin-bottom: 0px;
  border-style: none;
  border-width: 8px;
  border-color: #1a1b1f;
  border-radius: 4px;
  background-image: url('../images/portfolio-3---wide.svg');
  background-size: cover;
}

.work-image.cc-work-3 {
  margin-bottom: 0px;
  border-style: none;
  border-width: 8px;
  border-color: #1a1b1f;
  border-radius: 4px;
  background-image: url('../images/portfolio-4---wide.svg');
  background-size: cover;
}

.project-name-link {
  margin-top: 16px;
  margin-bottom: 0px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  text-decoration: none;
}

.project-name-link:hover {
  opacity: 0.8;
}

.project-name-link:active {
  opacity: 0.7;
}

.text-field {
  margin-bottom: 18px;
  padding: 21px 20px;
  border: 1px solid #e4e4e4;
  border-radius: 0px;
  -webkit-transition: border-color 400ms ease;
  transition: border-color 400ms ease;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  line-height: 26px;
}

.text-field:hover {
  border-color: #e3e6eb;
}

.text-field:active {
  border-color: #43464d;
}

.text-field:focus {
  border-color: #43464d;
}

.text-field::-webkit-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field:-ms-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field::-ms-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field::placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field.cc-textarea {
  height: 200px;
  padding-top: 12px;
}

.status-message {
  padding: 9px 30px;
  background-color: #202020;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.status-message.cc-success-message {
  background-color: #12b878;
}

.status-message.cc-error-message {
  background-color: #db4b68;
}

.contact {
  padding-top: 80px;
  padding-bottom: 90px;
}

.contact-headline {
  width: 70%;
  margin-bottom: 40px;
}

.contact-form-grid {
  grid-column-gap: 30px;
  grid-row-gap: 10px;
}

.contact-form-wrap {
  width: 70%;
}

.footer-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 50px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.webflow-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.5;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  text-decoration: none;
  text-transform: uppercase;
}

.webflow-link:hover {
  opacity: 1;
}

.webflow-link:active {
  opacity: 0.8;
}

.webflow-logo-tiny {
  margin-top: -2px;
  margin-right: 8px;
}

.footer-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-item {
  margin-right: 20px;
  margin-left: 20px;
  opacity: 0.6;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-item:hover {
  opacity: 0.9;
}

.footer-item:active {
  opacity: 0.8;
}

.about-intro-grid {
  margin-top: 104px;
  margin-bottom: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 26px;
  grid-row-gap: 26px;
  grid-template-areas: ". .";
  -ms-grid-columns: 1fr 26px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.hi-there-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 29px;
  line-height: 52px;
  font-weight: 300;
}

.service-name-text {
  margin-bottom: 26px;
  opacity: 0.6;
  font-size: 26px;
  line-height: 52px;
  font-weight: 300;
}

.skillset-wrap {
  padding-right: 40px;
}

.reference-link {
  opacity: 0.6;
  font-size: 14px;
  line-height: 26px;
  text-decoration: none;
}

.reference-link:hover {
  opacity: 1;
}

.reference-link:active {
  opacity: 0.9;
}

.featured-item-wrap {
  margin-bottom: 25px;
}

.services-items-grid {
  padding-top: 10px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-areas: ". .";
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.skills-grid {
  margin-top: 0px;
  margin-bottom: 0px;
  grid-column-gap: 25px;
  grid-row-gap: 30px;
  grid-template-areas: ". .";
  -ms-grid-columns: 1fr 25px 1.25fr;
  grid-template-columns: 1fr 1.25fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.personal-features-grid {
  margin-bottom: 102px;
  grid-column-gap: 80px;
  grid-row-gap: 20px;
  grid-template-areas: ". ."
    ". .";
  -ms-grid-rows: auto 20px auto;
  grid-template-rows: auto auto;
}

.speaking-text {
  display: inline-block;
  margin-right: 8px;
}

.speaking-text.cc-past-speaking {
  opacity: 0.6;
}

.speaking-detail {
  display: inline-block;
  opacity: 0.6;
}

.upcoming-wrap {
  margin-bottom: 40px;
}

.social-media-heading {
  margin-bottom: 52px;
}

.social-media-grid {
  margin-top: 26px;
  margin-bottom: 26px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  -ms-grid-rows: auto 30px auto;
  grid-template-areas: ". . . ."
    ". . . .";
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.project-overview-grid {
  margin-top: 104px;
  margin-bottom: 52px;
  grid-auto-flow: row;
  grid-column-gap: 48px;
  grid-row-gap: 0px;
  grid-template-areas: ". . . ."
    ". . . .";
  -ms-grid-columns: 1fr 48px 1fr 48px 1fr 48px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.detail-header-image {
  width: 100%;
}

.project-description-grid {
  margin-top: 52px;
  margin-bottom: 0px;
  grid-column-gap: 26px;
  grid-row-gap: 26px;
  grid-template-areas: ". .";
  -ms-grid-columns: 1fr 26px 2.5fr;
  grid-template-columns: 1fr 2.5fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.detail-image {
  position: relative;
  width: auto;
  height: auto;
  min-height: auto;
  min-width: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.detail-image.detail-custom {
  max-height: 100vh;
}

.email-section {
  position: static;
  width: 70%;
  margin: 140px auto 200px;
  text-align: center;
}

.email-link {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 64px;
  line-height: 88px;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
}

.email-link:hover {
  opacity: 0.8;
}

.email-link:active {
  opacity: 0.7;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  padding: 26px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

._404-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 26px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1a1b1f;
}

._404-content-wrap {
  margin-bottom: 20px;
}

.protected-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 90px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.protected-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.protected-heading {
  margin-bottom: 30px;
}

.heading {
  font-family: 'IBM Plex Sans', sans-serif;
}

.heading-2 {
  font-family: 'IBM Plex Sans', sans-serif;
}

.field-label {
  font-family: 'IBM Plex Sans', sans-serif;
}

.callout-bold {
  color: #1a1b1f;
  font-weight: 500;
}

.text-block {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
}

.text-block.nav-name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 104px;
  margin-left: 20px;
  padding-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-span {
  font-weight: 500;
}

.text-span-2 {
  font-weight: 500;
}

.text-span-3 {
  font-weight: 500;
}

.body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.link-block-2 {
  display: block;
}

.link-block-3 {
  margin-bottom: 0px;
}

.link-block-4 {
  margin-bottom: 0px;
}

.link-block-5 {
  margin-bottom: 0px;
}

.main-work-grid-link {
  margin-bottom: 0px;
  text-decoration: none;
}

.main-work-grid-link:hover {
  opacity: 0.8;
}

.div-block {
  margin-bottom: 40px;
}

.div-block-2 {
  margin-bottom: 40px;
}

.list {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
}

.list.paragraph-light {
  padding-left: 24px;
}

.list.paragraph-light.sidebar-list {
  margin-top: 10px;
  margin-bottom: 0px;
  line-height: 16px;
}

.image {
  margin-top: 26px;
  margin-bottom: 26px;
}

.image.full-width-content-img {
  margin-top: 52px;
}

.image.full-width-content-img.extra-space {
  margin-top: 52px;
  margin-bottom: 52px;
}

.div-block-5 {
  width: 100%;
  margin-bottom: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.heading-3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 300;
}

.heading-4 {
  font-weight: 300;
}

.heading-5 {
  font-weight: 300;
}

.heading-6 {
  font-weight: 300;
}

.heading-7 {
  font-weight: 300;
}

.heading-8 {
  font-weight: 300;
}

.text-block-2 {
  font-family: 'IBM Plex Sans', sans-serif;
}

.text-block-2.sidebar-title {
  margin-top: 24px;
  margin-bottom: 8px;
  font-weight: 300;
}

.block-quote {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 29px;
  line-height: 52px;
  font-weight: 300;
}

.sidebar-title {
  margin-top: 24px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.sidebar-title.second-title {
  margin-top: 24px;
  font-weight: 300;
}

.sidebar-list {
  font-size: 12px;
  line-height: 20px;
}

.text-span-4 {
  text-transform: uppercase;
}

.case-study-details-container {
  padding-top: 26px;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block-8 {
  width: 50%;
  height: 100vh;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-9 {
  position: relative;
  overflow: visible;
  width: 50%;
  height: 100vh;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-10 {
  display: block;
  width: auto;
  height: 100vh;
  min-height: auto;
  min-width: auto;
}

.div-block-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  max-height: none;
  max-width: none;
  min-height: auto;
  min-width: auto;
}

.video {
  position: relative;
  display: block;
  width: auto;
  height: 100vh;
  max-height: none;
  max-width: none;
  min-height: auto;
  min-width: auto;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.div-block-12 {
  position: static;
  display: block;
  width: 100%;
  height: 100vh;
  -o-object-fit: fill;
  object-fit: fill;
}

.video-2 {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
  overflow: visible;
  width: auto;
  height: auto;
  max-height: none;
  float: none;
  clear: both;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.case-study-text-slim-container {
  max-width: 50%;
  margin-top: 52px;
}

.grid {
  grid-column-gap: 26px;
  grid-row-gap: 26px;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.full-width-content-img {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.full-width-content-img.image {
  margin-top: 0px;
}

.slide {
  margin-top: 0px;
}

.slide.slide-01 {
  background-image: url('../images/Screen-Shot-2019-09-05-at-9.41.49-AM.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.slider {
  background-color: #fff;
}

.link {
  position: relative;
  float: none;
}

.call-to-action {
  padding-top: 52px;
  padding-bottom: 52px;
}

.centered-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.heading-9 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 29px;
  line-height: 52px;
  font-weight: 300;
}

.button-2 {
  border-style: none;
  border-width: 4px;
  border-color: #1a1b1f;
  border-radius: 4px;
  background-color: #1a1b1f;
  opacity: 1;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  text-decoration: none;
}

.button-2:hover {
  opacity: 0.8;
  color: #fff;
}

.grid-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.text-span-5 {
  font-weight: 500;
}

.text-span-6 {
  font-weight: 500;
}

.text-span-7 {
  font-weight: 500;
}

.list-header {
  opacity: 0.6;
}

.case-study-subheader {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 29px;
  line-height: 52px;
  font-weight: 300;
}

.grid-3 {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-3.two-up {
  margin-bottom: 26px;
  grid-column-gap: 26px;
}

.grid-4 {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.heading-11 {
  margin-top: 0px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
}

.heading-11.paragraph-light {
  margin-top: 0px;
}

.bullet-bold {
  opacity: 1;
  font-weight: 500;
}

.div-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.video-3 {
  position: static;
  height: auto;
  max-height: 100vh;
  min-height: auto;
  min-width: auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-15 {
  height: auto;
  max-height: 100vh;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container-3 {
  max-width: 80%;
}

.div-block-16 {
  position: relative;
  height: auto;
  max-height: 100vh;
  min-height: auto;
  min-width: auto;
}

.list-2 {
  margin-bottom: 0px;
}

.single-wide-img {
  margin-bottom: 26px;
}

.div-block-17 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.grid-5 {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-span-8 {
  font-weight: 500;
}

.text-block-3 {
  font-weight: 300;
}

.list-3 {
  font-weight: 300;
}

.heading-12 {
  margin-top: 0px;
  margin-bottom: -26px;
}

.cards-section {
  padding-top: 0px;
  padding-bottom: 0px;
}

.centered-container-2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.cards-grid-container {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 26px;
  grid-row-gap: 26px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  text-align: left;
}

.cards-image-mask {
  position: relative;
  overflow: visible;
  width: auto;
  height: 100vh;
  max-height: 100vh;
  padding-top: 0px;
  border-style: none;
  border-width: 1px;
  border-color: #1a1b1f;
  border-radius: 0%;
}

.cards-image {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: auto;
  height: auto;
  max-height: 100vh;
  max-width: none;
  min-height: auto;
  min-width: auto;
  margin-right: auto;
  margin-left: auto;
  -o-object-fit: fill;
  object-fit: fill;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.card-title {
  margin-top: 26px;
  margin-bottom: 0px;
  font-weight: 300;
}

.div-block-18 {
  min-height: auto;
  min-width: auto;
}

.container-4 {
  max-width: 75%;
}

.heading-13 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.heading-14 {
  font-weight: 300;
}

.heading-15 {
  font-weight: 300;
}

.list-light {
  opacity: 0.6;
  font-weight: 300;
}

.cards-section-2 {
  padding-top: 0px;
  padding-bottom: 102px;
}

.thought-leadership-container {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: left;
}

.thought-leadership-img-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  border-radius: 0%;
}

.thought-leadership-img {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  max-width: none;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.heading-17 {
  margin-top: 0px;
  margin-bottom: 26px;
  font-weight: 300;
  text-align: left;
}

.paragraph {
  text-align: left;
}

.paragraph-2 {
  font-weight: 300;
}

.paragraph-3 {
  font-weight: 300;
}

.thought-leadership-excerpt {
  font-weight: 300;
}

.heading-18 {
  font-weight: 300;
}

.heading-19 {
  font-weight: 300;
}

.thought-leadership-header {
  font-weight: 300;
}

.heading-21 {
  font-weight: 300;
}

.heading-22 {
  font-weight: 300;
}

.thought-leadership-link {
  text-decoration: none;
}

.thought-leadership-link:hover {
  opacity: 0.6;
  text-decoration: none;
}

.heading-23 {
  font-weight: 300;
}

.heading-24 {
  font-weight: 300;
}

.heading-25 {
  font-weight: 300;
}

.paragraph-5 {
  font-weight: 300;
}

.paragraph-6 {
  font-weight: 300;
}

.paragraph-7 {
  font-weight: 300;
}

.paragraph-8 {
  font-weight: 300;
}

.text-span-9 {
  opacity: 0.6;
  font-weight: 300;
  text-transform: uppercase;
}

.grid-6 {
  width: 50%;
  margin: 52px 0px 104px;
  justify-items: stretch;
  -ms-grid-columns: 1.5fr 0.75fr 0.75fr 0.75fr;
  grid-template-columns: 1.5fr 0.75fr 0.75fr 0.75fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-6.nav-item-block {
  display: -ms-grid;
  display: grid;
  width: 20%;
  margin-left: 20px;
  padding-right: 0px;
  padding-left: 0px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 4px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.heading-26 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 29px;
  font-weight: 500;
}

.nav-item-block {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-left: 20px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  text-decoration: none;
}

.nav-item-block:hover {
  font-weight: 600;
}

.nav-item-block.w--current {
  font-size: 76px;
  line-height: 78px;
  font-weight: 600;
  text-decoration: none;
}

.nav-item-block.w--current:hover {
  font-weight: 600;
}

.main-navigation-close {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

.nav-items-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 86%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.nav-img-home {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
}

.nav-img-clients {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
}

.main-navigation {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10;
  display: none;
  height: 100vh;
  background-color: #fff;
}

.nav-text {
  color: #1a1b1f;
  font-size: 76px;
  line-height: 78px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-contact-link {
  position: relative;
  z-index: 2;
  width: 25.5%;
  color: #000;
  font-size: 24px;
  line-height: 24px;
  text-decoration: none;
}

.nav-contact-link:hover {
  color: #f55143;
}

.nav-img-about {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
}

.navigation-footer {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10%;
  padding-bottom: 60px;
  padding-left: 10%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav-imgs-container {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.nav-item-hover-line {
  position: absolute;
  left: 0px;
  top: 45%;
  right: 0px;
  width: 100%;
  height: 20px;
  background-color: #000;
}

.hamburger-btn {
  position: static;
  left: auto;
  top: auto;
  right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 42px;
  height: 26px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.hamb-line {
  width: 100%;
  height: 3px;
  background-color: #1a1b1f;
}

.hamb-line.line-change.close-line-01 {
  width: 64%;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.hamb-line.line-change.close-line-02 {
  width: 64%;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.hamb-line.line-change.hamb-line-01 {
  width: 64%;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.hamb-line.line-change.hamb-line-03 {
  width: 64%;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.body-2 {
  font-family: 'IBM Plex Sans', sans-serif;
}

.body-3 {
  font-family: 'IBM Plex Sans', sans-serif;
}

.nav-container {
  display: block;
  width: 86%;
  min-height: 26px;
  margin-right: auto;
  margin-left: auto;
}

.section-2 {
  margin-right: 20px;
  margin-left: 20px;
}

.nav-section {
  min-height: 26px;
  margin-right: 20px;
  margin-left: 20px;
}

.close-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 42px;
  height: 26px;
  margin-top: 26px;
  margin-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition-property: none;
  transition-property: none;
  font-family: 'IBM Plex Sans', sans-serif;
  cursor: pointer;
}

.close-line {
  width: 100%;
  height: 3px;
  background-color: #1a1b1f;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.close-line.close-line-02 {
  margin-top: -3px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.close-line.close-line-01 {
  position: static;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  -webkit-transform: rotate(45deg) rotate(0deg);
  -ms-transform: rotate(45deg) rotate(0deg);
  transform: rotate(45deg) rotate(0deg);
}

.nav-overlay-container {
  position: relative;
  width: 86%;
  margin-right: auto;
  margin-left: auto;
  clear: none;
}

.container-5 {
  display: block;
  clear: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container-6 {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.prev-post {
  position: relative;
  width: 50%;
  padding-right: 2%;
  float: left;
}

.next-post {
  position: relative;
  width: 50%;
  padding-left: 2%;
  float: right;
}

.link-2 {
  font-weight: 300;
  text-align: right;
}

.link-3 {
  font-weight: 300;
}

.prev-next-btn {
  border-style: solid;
  border-width: 1px;
  border-color: #1a1b1f;
  border-radius: 4px;
  background-color: transparent;
  color: #1a1b1f;
  font-weight: 300;
}

.prev-next-btn:hover {
  color: #1a1b1f;
}

.prev-next-btn.next-btn {
  padding-right: 30px;
  padding-left: 30px;
  float: right;
  text-align: left;
}

.prev-next-btn.prev-btn {
  padding-right: 30px;
  padding-left: 30px;
}

.wide-container {
  max-width: 80%;
  margin-top: 52px;
  margin-right: auto;
  margin-left: auto;
}

.paragraph-light-2 {
  margin-top: 0px;
  margin-bottom: 26px;
  padding-right: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  opacity: 0.6;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
}

.case-study-header {
  margin-top: 0px;
  margin-bottom: 26px;
  padding-top: 26px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 47px;
  line-height: 52px;
  font-weight: 300;
  text-transform: none;
}

.sidebar-title-2 {
  margin-top: 16px;
  margin-bottom: 0px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.paragraph-light-3 {
  margin-top: 0px;
  margin-bottom: 26px;
  padding-right: 0px;
  clear: none;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  opacity: 0.6;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
}

.case-study-header-2 {
  margin-top: 0px;
  margin-bottom: 26px;
  padding-top: 26px;
  float: none;
  clear: none;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 47px;
  line-height: 52px;
  font-weight: 300;
  text-transform: none;
}

.sidebar-title-3 {
  margin-top: 14px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.grid-7 {
  grid-column-gap: 26px;
  grid-row-gap: 52px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 991px) {
  .styleguide-block {
    text-align: center;
  }

  .container {
    width: 100%;
  }

  .heading-jumbo {
    font-size: 56px;
    line-height: 70px;
    text-align: left;
  }

  .label {
    text-align: left;
  }

  .label.cc-about-light {
    text-align: left;
  }

  .paragraph-light {
    text-align: left;
  }

  .paragraph-light.homepage-subheader.nav-sub {
    margin-left: 0px;
  }

  .section.cc-contact {
    padding-right: 0px;
    padding-left: 0px;
  }

  .button {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .logo-link.w--current {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .menu-icon {
    display: block;
  }

  .navigation-item {
    padding: 9px 20px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    text-align: center;
  }

  .navigation-item:hover {
    background-color: #f7f8f9;
  }

  .navigation-item:active {
    background-color: #eef0f3;
  }

  .navigation-item.w--current {
    padding-top: 9px;
    padding-bottom: 9px;
    font-weight: 500;
    text-align: left;
  }

  .navigation-items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #fff;
  }

  .navigation {
    padding: 26px 20px;
  }

  .menu-button {
    padding: 0px;
  }

  .menu-button.w--open {
    background-color: transparent;
  }

  .navigation-wrap {
    margin-right: 0px;
  }

  .intro-wrap {
    padding-left: 30px;
  }

  .position-name-text.first-title {
    margin-top: 0px;
  }

  .work-experience-grid {
    grid-template-areas: ". ."
      ". .";
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .works-grid {
    display: -ms-grid;
    display: grid;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    grid-auto-columns: 1fr;
    grid-column-gap: 28px;
    grid-row-gap: 28px;
    -ms-grid-columns: 0.25fr 1.25fr 1.25fr 0.25fr;
    grid-template-columns: 0.25fr 1.25fr 1.25fr 0.25fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .carrer-headline-wrap {
    width: auto;
  }

  .work-image {
    margin-bottom: 0px;
  }

  .project-name-link {
    margin-top: 16px;
  }

  .contact {
    width: auto;
    padding: 30px 50px 40px;
  }

  .contact-headline {
    width: 100%;
  }

  .contact-form-wrap {
    width: 100%;
  }

  .about-intro-grid {
    width: auto;
    margin-bottom: 52px;
    grid-row-gap: 0px;
    grid-template-areas: "."
      ".";
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    text-align: center;
  }

  .about-head-text-wrap {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  .hi-there-heading {
    text-align: left;
  }

  .service-name-text {
    font-size: 24px;
    line-height: 42px;
  }

  .skillset-wrap {
    padding-right: 0px;
  }

  .services-items-grid {
    padding-top: 0px;
    grid-row-gap: 0px;
    grid-template-areas: "."
      ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 0px auto;
    grid-template-rows: auto auto;
  }

  .skills-grid {
    width: 100%;
    margin-right: auto;
    margin-bottom: 52px;
    margin-left: auto;
    grid-column-gap: 26px;
    grid-row-gap: 0px;
    grid-template-areas: "."
      ".";
    -ms-grid-columns: 1fr 26px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    text-align: center;
  }

  .personal-features-grid {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    grid-template-areas: "."
      "."
      "."
      ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    text-align: center;
  }

  .upcoming-wrap {
    text-align: left;
  }

  .social-media-heading {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .social-media-grid {
    grid-template-areas: ". ."
      ". ."
      ". ."
      ". .";
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .project-overview-grid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    grid-row-gap: 0px;
    grid-template-areas: "."
      "."
      ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    text-align: center;
  }

  .project-description-grid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    grid-row-gap: 0px;
    grid-template-areas: "."
      ".";
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    text-align: center;
  }

  .email-section {
    margin-bottom: 160px;
  }

  .email-link {
    font-size: 36px;
    line-height: 54px;
  }

  .text-block.nav-name {
    margin-left: 0px;
  }

  .list.paragraph-light.sidebar-list {
    margin-bottom: 0px;
  }

  .div-block-5 {
    margin-bottom: 0px;
  }

  .text-block-2.sidebar-title {
    margin-top: 0px;
  }

  .block-quote {
    text-align: left;
  }

  .sidebar-title {
    margin-top: 24px;
    margin-bottom: 10px;
  }

  .sidebar-title.second-title {
    margin-top: 24px;
  }

  .case-study-details-container {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 26px;
    text-align: left;
  }

  .case-study-text-slim-container {
    max-width: 80%;
  }

  .grid-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .div-block-13 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .video-3 {
    height: auto;
    max-height: 100vh;
  }

  .div-block-15 {
    height: auto;
  }

  .div-block-16 {
    height: auto;
  }

  .list-2 {
    text-align: left;
  }

  .div-block-17 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .cards-grid-container {
    grid-column-gap: 26px;
  }

  .cards-image-mask {
    height: auto;
    max-height: none;
  }

  .cards-image {
    width: 100%;
    max-height: none;
  }

  .heading-13 {
    text-align: left;
  }

  .div-block-20 {
    text-align: left;
  }

  .div-block-21 {
    text-align: left;
  }

  .heading-14 {
    text-align: left;
  }

  .list-4 {
    text-align: left;
  }

  .heading-15 {
    text-align: left;
  }

  .list-5 {
    text-align: left;
  }

  .heading-16 {
    text-align: left;
  }

  .cards-section-2 {
    padding-bottom: 52px;
    font-weight: 300;
  }

  .thought-leadership-container {
    grid-column-gap: 20px;
  }

  .heading-17 {
    width: 100%;
  }

  .heading-21 {
    text-align: left;
  }

  .heading-22 {
    text-align: left;
  }

  .paragraph-9 {
    text-align: left;
  }

  .grid-6.nav-item-block {
    margin-left: 0px;
  }

  .nav-item-block {
    margin-left: 0px;
  }

  .nav-item-block.w--current {
    margin-left: 0px;
  }

  .main-navigation {
    display: none;
    margin-left: 0px;
  }

  .hamburger-btn {
    margin-left: 0px;
    padding-left: 0px;
  }

  .nav-container {
    display: block;
    width: 100%;
    max-width: 800px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .nav-section {
    display: block;
    width: 100%;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
  }

  .close-btn {
    margin-left: 0px;
  }

  .wide-container {
    max-width: 100%;
    padding-right: 26px;
    padding-left: 26px;
  }

  .paragraph-light-2 {
    text-align: left;
  }

  .case-study-header {
    margin-top: 0px;
    padding-top: 26px;
    text-align: left;
  }

  .sidebar-title-2 {
    margin-top: 0px;
  }

  .paragraph-light-3 {
    text-align: left;
  }

  .case-study-header-2 {
    margin-top: 52px;
  }

  .sidebar-title-3 {
    margin-top: 0px;
  }

  .card-container {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .heading-jumbo-small {
    font-size: 30px;
    line-height: 52px;
  }

  .rich-text {
    width: 90%;
    max-width: 470px;
    text-align: left;
  }

  .container {
    width: 100%;
    text-align: left;
  }

  .heading-jumbo {
    margin-bottom: 0px;
    font-size: 42px;
    line-height: 64px;
    text-align: left;
  }

  .paragraph-light {
    margin-top: 0px;
    margin-bottom: 26px;
    padding-right: 0px;
    text-align: left;
  }

  .section {
    margin-right: 20px;
    margin-left: 20px;
  }

  .section.cc-contact {
    padding: 15px;
  }

  .paragraph-bigger {
    font-size: 16px;
    line-height: 28px;
  }

  .logo-link {
    padding-left: 0px;
  }

  .navigation-item.w--current {
    text-align: center;
  }

  .navigation {
    padding: 20px;
  }

  .intro-wrap {
    margin-top: 60px;
    margin-bottom: 60px;
    padding-left: 0px;
  }

  .position-name-text {
    margin-top: 0px;
    text-align: left;
  }

  .work-experience-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .works-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 28px;
    grid-row-gap: 28px;
    -ms-grid-columns: 1.25fr 1.25fr;
    grid-template-columns: 1.25fr 1.25fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .work-position-wrap {
    margin-bottom: 40px;
  }

  .project-name-link {
    font-size: 16px;
    line-height: 28px;
  }

  .text-field.cc-textarea {
    text-align: left;
  }

  .contact {
    padding-right: 30px;
    padding-left: 30px;
  }

  .contact-form-grid {
    grid-column-gap: 30px;
    grid-template-areas: "."
      "."
      ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .contact-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .contact-form-wrap {
    text-align: left;
  }

  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  .webflow-link {
    margin-bottom: 15px;
  }

  .footer-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-item {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
  }

  .about-intro-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .about-head-text-wrap {
    width: 100%;
    max-width: 470px;
  }

  .skillset-wrap {
    width: 100%;
  }

  .skills-grid {
    width: 100%;
    max-width: 470px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .personal-features-grid {
    width: 70%;
    max-width: 470px;
  }

  .social-media-heading {
    width: 70%;
    max-width: 470px;
  }

  .social-media-grid {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .project-overview-grid {
    width: 100%;
    max-width: 568px;
    margin-top: 90px;
    margin-bottom: 26px;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    grid-auto-flow: row;
    grid-row-gap: 0px;
  }

  .project-description-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: none;
    margin-top: 26px;
    margin-bottom: 0px;
    padding-right: 26px;
    padding-left: 26px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-row-gap: 26px;
  }

  .detail-image {
    height: auto;
    max-height: 70vh;
    margin-bottom: 0px;
  }

  .email-section {
    width: 80%;
    max-width: 470px;
    margin-top: 120px;
    margin-bottom: 120px;
  }

  .email-link {
    font-size: 36px;
    line-height: 54px;
  }

  .utility-page-wrap {
    padding: 15px;
  }

  ._404-wrap {
    padding: 30px;
  }

  .text-block {
    text-align: left;
  }

  .div-block-2 {
    margin-bottom: 20px;
  }

  .div-block-3 {
    margin-bottom: 20px;
  }

  .div-block-4 {
    margin-bottom: 20px;
  }

  .list.paragraph-light.sidebar-list {
    margin-bottom: 0px;
  }

  .image.full-width-content-img {
    margin-bottom: 52px;
  }

  .image.full-width-content-img.extra-space {
    margin-top: 52px;
    margin-bottom: 52px;
  }

  .div-block-5 {
    width: 50%;
    margin-bottom: 0px;
    padding-right: 12px;
  }

  .block-quote {
    text-align: left;
  }

  .case-study-details-container {
    width: 100%;
    max-width: 100%;
    padding-top: 0px;
  }

  .div-block-7 {
    margin-top: 0px;
    margin-bottom: 26px;
  }

  .div-block-8 {
    height: auto;
    max-height: 100vh;
    margin-right: 0px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .div-block-9 {
    height: auto;
    max-height: 70vh;
    margin-left: 0px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .video-2 {
    min-height: auto;
    min-width: auto;
  }

  .case-study-text-slim-container {
    max-width: none;
    padding-right: 26px;
    padding-left: 26px;
  }

  .grid {
    margin-bottom: 26px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .full-width-content-img.image {
    margin-top: 26px;
    margin-bottom: 26px;
  }

  .call-to-action {
    padding: 40px 20px;
  }

  .grid-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    grid-auto-flow: row;
    grid-template-areas: ".";
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .div-block-13 {
    width: 50%;
    padding-right: 0px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .heading-11 {
    margin-bottom: 10px;
    font-weight: 300;
  }

  .video-3 {
    height: auto;
    max-height: 100vh;
  }

  .div-block-15 {
    height: auto;
  }

  .div-block-16 {
    height: auto;
  }

  .cards-section {
    padding: 40px 20px;
  }

  .cards-grid-container {
    max-width: none;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .cards-image {
    width: auto;
    max-height: 100vh;
    margin-right: auto;
  }

  .image-5 {
    margin-bottom: 26px;
  }

  .video-4 {
    margin-bottom: 26px;
  }

  .container-4 {
    max-width: 100%;
  }

  .cards-section-2 {
    padding: 40px 20px;
  }

  .thought-leadership-container {
    max-width: none;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .thought-leadership-link {
    width: 100%;
  }

  .image-6 {
    width: 100%;
    max-width: 470px;
    margin-right: auto;
    margin-left: auto;
  }

  .image-7 {
    margin-top: 26px;
  }

  .grid-6 {
    width: 100%;
    margin-bottom: 52px;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }

  .grid-6.nav-item-block {
    width: 50%;
  }

  .nav-item-block.w--current {
    font-weight: 600;
  }

  .nav-items-container {
    width: 100%;
  }

  .main-navigation {
    z-index: 9000;
    display: none;
    width: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
  }

  .nav-text {
    font-weight: 500;
  }

  .navigation-footer {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .hamburger-btn {
    width: 42px;
    height: 26px;
  }

  .hamb-line.line-01 {
    width: 64%;
  }

  .hamb-line.line-03 {
    width: 64%;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }

  .nav-container {
    max-width: none;
    padding-left: 0px;
  }

  .nav-section {
    width: 100%;
  }

  .nav-overlay-container {
    width: auto;
    margin-right: 20px;
    margin-left: 20px;
  }

  .paragraph-light-2 {
    margin-top: 0px;
    margin-bottom: 26px;
    padding-right: 0%;
    text-align: left;
  }

  .case-study-header {
    margin-top: 0px;
    text-align: left;
  }

  .paragraph-light-3 {
    margin-top: 0px;
    margin-bottom: 26px;
    padding-right: 0%;
    text-align: left;
  }

  .case-study-header-2 {
    margin-top: 0px;
    text-align: left;
  }

  .thought-leadership-piece {
    margin-bottom: 26px;
  }

  .grid-7 {
    grid-row-gap: 26px;
  }
}

@media screen and (max-width: 479px) {
  .rich-text {
    width: 100%;
    max-width: none;
  }

  .container {
    width: 100%;
  }

  .heading-jumbo {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 36px;
    line-height: 48px;
  }

  .paragraph-light {
    margin-top: 0px;
  }

  .section {
    margin-top: 26px;
    margin-bottom: 26px;
  }

  .navigation {
    padding-right: 20px;
    padding-left: 20px;
  }

  .menu-button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .menu-button.w--open {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .work-description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .works-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .work-image.cc-work-4 {
    margin-bottom: 14px;
  }

  .project-name-link {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .contact {
    padding-right: 15px;
    padding-left: 15px;
  }

  .contact-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .contact-form-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .about-intro-grid {
    margin-bottom: 26px;
  }

  .about-head-text-wrap {
    width: 100%;
    max-width: none;
  }

  .skills-grid {
    width: 100%;
    max-width: none;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .personal-features-grid {
    width: 100%;
    max-width: none;
  }

  .social-media-heading {
    width: 100%;
    max-width: none;
  }

  .project-overview-grid {
    width: 100%;
    max-width: none;
    margin-top: 78px;
    margin-bottom: 0px;
  }

  .project-description-grid {
    width: 100%;
    max-width: none;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .email-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .email-link {
    font-size: 30px;
    line-height: 46px;
  }

  .image.full-width-content-img.extra-space {
    margin-top: 26px;
    margin-bottom: 0px;
  }

  .div-block-5 {
    margin-bottom: 0px;
  }

  .block-quote {
    font-size: 18px;
    line-height: 26px;
  }

  .div-block-7 {
    display: block;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .div-block-8 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 26px;
  }

  .div-block-9 {
    width: auto;
    max-height: 100vh;
    min-height: auto;
    min-width: auto;
    margin-left: 0px;
  }

  .video-2 {
    max-height: 100vh;
  }

  .case-study-text-slim-container {
    max-width: none;
    margin-top: 26px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .grid {
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .centered-container {
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
  }

  .button-2 {
    text-align: left;
  }

  .grid-2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    grid-column-gap: 14px;
    grid-row-gap: 12px;
  }

  .list-header {
    font-size: 18px;
    line-height: 26px;
  }

  .grid-3.two-up {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .grid-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-14 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .video-3 {
    height: auto;
  }

  .div-block-16 {
    height: auto;
    max-height: none;
  }

  .image-2 {
    margin-bottom: 26px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .image-3 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .image-4 {
    margin-bottom: 26px;
  }

  .list-3.paragraph-light {
    margin-bottom: 0px;
  }

  .cards-section {
    padding-right: 0px;
    padding-left: 0px;
  }

  .centered-container-2 {
    text-align: left;
  }

  .cards-grid-container {
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .cards-image-mask {
    height: auto;
    max-height: none;
    max-width: 100%;
  }

  .cards-image {
    width: auto;
    max-width: 100%;
  }

  .div-block-19 {
    width: 100%;
  }

  .video-4 {
    margin-bottom: 0px;
  }

  .cards-section-2 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .thought-leadership-container {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid-6 {
    width: 100%;
    margin-bottom: 0px;
  }

  .grid-6.nav-item-block {
    width: 50%;
  }

  .main-navigation-close {
    display: block;
  }

  .nav-items-container {
    width: 100%;
    padding-left: 10px;
  }

  .main-navigation {
    display: none;
  }

  .nav-text {
    font-size: 76px;
    line-height: 78px;
  }

  .navigation-footer {
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .nav-imgs-container {
    display: none;
  }

  .nav-item-hover-line {
    height: 10px;
  }

  .prev-post {
    margin-top: 26px;
  }

  .next-post {
    margin-top: 26px;
  }

  .wide-container {
    margin-top: 26px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .paragraph-light-2 {
    margin-top: 6px;
  }

  .case-study-header {
    padding-top: 26px;
    font-size: 36px;
    line-height: 42px;
  }

  .paragraph-light-3 {
    margin-top: 6px;
  }

  .grid-7 {
    grid-row-gap: 26px;
  }
}

#w-node-3ad779901eb7-90c894d2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-688b605f9f2c-90c894d2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: auto;
  align-self: auto;
}

#w-node-f0b13ab87be3-90c894d2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-3a1e8b5465cc-90c894d2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b8d8a18c3900-5f6535b5 {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
}

#w-node-b8d8a18c3902-5f6535b5 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-b8d8a18c3904-5f6535b5 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-b8d8a18c3906-5f6535b5 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-7dee623c62c1-c2c894d7 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-7dee623c62c8-c2c894d7 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b9a9a97f977f-c2c894d7 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-b9a9a97f979e-c2c894d7 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-8239d41d1e9d-c2c894d7 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-8239d41d1e9d-c2c894d7:active {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-8239d41d1ea1-c2c894d7 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-8239d41d1ea0-c2c894d7 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-8239d41d1e9f-c2c894d7 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-8239d41d1ea2-c2c894d7 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-8239d41d1ea3-c2c894d7 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-8239d41d1e9e-c2c894d7 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-8239d41d1ea4-c2c894d7 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f2c6de040bbf-00c894d8 {
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ee63d52fd223-00c894d8 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-7a0ca3e321c4-00c894d8 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-f2c6de040bbf-92e318c9 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-ee63d52fd223-92e318c9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d1e270244379-92e318c9 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-7b89879fcd36-92e318c9 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-70aff0d508f2-92e318c9 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-70aff0d508f3-92e318c9 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-f2c6de040bbf-93c74584 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-ee63d52fd223-93c74584 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-d3ad6230ec1f-93c74584 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-d3ad6230ec26-93c74584 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-d3ad6230ec2d-93c74584 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-837ce9eaeca6-93c74584 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-f2c6de040bbf-07e889fb {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-ee63d52fd223-07e889fb {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c8c146d7f4bd-07e889fb {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-1214ae15566e-07e889fb {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

@media screen and (max-width: 991px) {
  #w-node-7dee623c62c1-c2c894d7 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-7dee623c62c8-c2c894d7 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-8239d41d1ea1-c2c894d7 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-8239d41d1ea0-c2c894d7 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-8239d41d1ea2-c2c894d7 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-8239d41d1ea3-c2c894d7 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-8239d41d1e9e-c2c894d7 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-8239d41d1ea4-c2c894d7 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-f2c6de040bbf-00c894d8 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-34dea213564a-00c894d8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-f2c6de040bbf-92e318c9 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-34dea213564a-92e318c9 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-f2c6de040bbf-93c74584 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-34dea213564a-93c74584 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-f2c6de040bbf-07e889fb {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-34dea213564a-07e889fb {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }
}

@media screen and (max-width: 767px) {
  #w-node-3ad779901eb7-90c894d2 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-688b605f9f2c-90c894d2 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-f0b13ab87be3-90c894d2 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-3a1e8b5465cc-90c894d2 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-7dee623c62c8-c2c894d7 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-5d60047ab228-00c894d8 {
    -ms-grid-row: span 2;
    grid-row-start: span 2;
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-5d60047ab228-92e318c9 {
    -ms-grid-row: span 2;
    grid-row-start: span 2;
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-5d60047ab228-93c74584 {
    -ms-grid-row: span 2;
    grid-row-start: span 2;
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-d3ad6230ec29-93c74584 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-d3ad6230ec2b-93c74584 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-d3ad6230ec30-93c74584 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-d3ad6230ec32-93c74584 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: start;
    align-self: start;
  }

  #w-node-837ce9eaeca9-93c74584 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-837ce9eaecab-93c74584 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: start;
    align-self: start;
  }

  #w-node-5d60047ab228-07e889fb {
    -ms-grid-row: span 2;
    grid-row-start: span 2;
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-1efd6d6aa227-c2c894d7 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-1efd6d6aa22e-c2c894d7 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-1efd6d6aa235-c2c894d7 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-d3ad6230ec26-93c74584 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-d3ad6230ec2d-93c74584 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-837ce9eaeca6-93c74584 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

